:root {
	--main-text-color : #19334d;
	--primary-text-color : #209268;
	--secondary-text-color : #089ddd;
	--shadow-color : #38bdf8;
	--bg-color: #fafafa;
}
html {
	scroll-behavior: smooth;
}
body {
	width: 92%;
	margin: auto;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4rem;
	letter-spacing: 1px;
	font-family: "Roboto", sans-serif;
}
.main-text-color {
	color : #19334d;
	color: var(--main-text-color);
}
.primary-color {
	color: #209268;
	color: var(--primary-text-color);
}
.secondary-color {
	color: #089ddd;
	color: var(--secondary-text-color);
}
.bg-color {
	background-color: #fafafa;
	background-color: var(--bg-color);
}
.roboto-thin {
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-weight: 900;
  font-style: italic;
}
p {
	font-weight: 500;
	font-style: normal;
	font-size: 15px;
}
.uparrow {
	position: fixed;
	bottom: 35px;
	right: 25px;
	color: white;
	width: 20px;
	padding-left: 10px;
	background-color: #089ddd;
	background-color: var(--secondary-text-color);
	cursor: pointer;

}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	min-height: 40px;
	word-spacing: 0px;
	letter-spacing: 0px;
	width: 94%;
	margin: auto;
	box-shadow: 0px 0px 1px 0px #060ef0;
	opacity: 1.0;
	z-index: 10;
	position: fixed;
	top: 0;
}
.brand{
	padding-top: 15px;
}
.brand a{
	text-decoration: none;
	padding-left: 15px;
	font-size: 30px;
	font-weight: bolder;
}
.mode-button {
	border: none;
	font-size: 14px;
	font-weight: bold;
	color: #19334d;
	border-radius: 10px;
	margin-left: 4px;
}
.mode-button:hover {
	color: #089ddd;
}
.navbar-menu{
	display: none;
}
.navbar-menu:hover{
	border : 1px solid #089ddd;
	border: 1px solid var(--secondary-text-color);
}
.nav{
	padding-top: 0px;
	padding-right: 50px;
}
.nav ul{
	list-style: none;
	display: block;
}
.nav li{
	display: inline;
	padding: 7px 6px;
}
.nav li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
.nav li a:hover{
	color: #c4dbed;
}
.mini-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 30px 25px;
}
.profile-container {
	padding: 50px 20px 5px 20px;
}

.image-container {
	background: url("../img/andi_profile.jpg") 0 -5px no-repeat;
	background-size: 80% 320px;
	width: 47%;
	margin-top: 20px;
	border-right: 7px #25a777 solid;
}
.profile-img-background {
	height: 315px;
	width: 80%;
	background-image: linear-gradient(230deg, rgba(0,51,102,0), rgba(0,51,102,0.7));
}
.pic-title {
	font-size: 22px;
	font-weight: bolder;
	margin-top: -50px;
	padding-left: 12px;
	-moz-transform: translateY(-40px);
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
}
@-webkit-keyframes innertext {
	0% { content: "Full-Stack" }
	5% { content: "Full-Stack Developer" }
	10% { content: "Full-Stack Dev" }
	15% { content: "" }
	20% { content: "React/Next.js" }
	25% { content: "React/Next.js Developer" }
	30% { content: "React/Next" }
	35% { content: "" }
	40% { content: "Laravel " }
	45% { content: "Laravel Developer" }
	47% { content: "Laravel De" }
	50% { content: "" }
	52% { content: "Web Designer" }
	53% { content: "Web" }
	55% { content: "Wordpress Developer" }
	60% { content: "Django" }
	63% { content: "Django Developer" }
	66% { content: "Django Dev" }
	70% { content: "Software Engingeer" }
	85% { content: "Contact Me" }
	100% { content: "Contact Me" }

}
@keyframes innertext {
	0% { content: "Full-Stack" }
	5% { content: "Full-Stack Developer" }
	10% { content: "Full-Stack Dev" }
	15% { content: "" }
	20% { content: "React/Next.js" }
	25% { content: "React/Next.js Developer" }
	30% { content: "React/Next" }
	35% { content: "" }
	40% { content: "Laravel " }
	45% { content: "Laravel Developer" }
	47% { content: "Laravel De" }
	50% { content: "" }
	52% { content: "Web Designer" }
	53% { content: "Web" }
	55% { content: "Wordpress Developer" }
	60% { content: "Django" }
	63% { content: "Django Developer" }
	66% { content: "Django Dev" }
	70% { content: "Software Engingeer" }
	85% { content: "Contact Me" }
	100% { content: "Contact Me" }

}
.pic-title span::after {
	content: "";
	-moz-animation: innertext 50s linear 2s infinite;
	-webkit-animation: innertext 50s linear 2s infinite;
	animation: innertext 50s linear 2s infinite;
}

@-webkit-keyframes blinkbar {
	0% { 
		opacity: 1;
	}
	100% { 
		opacity: 0;
	}
}
@keyframes blinkbar {
	0% { 
		opacity: 1;
	}
	100% { 
		opacity: 0;
	}
}
.pic-title::after {
	content: "|";
	color: #fff;
	font-size: 23px;
	font-weight: bolder;
	margin-left: -5px;
	-moz-animation: blinkbar 1s linear infinite;
	-webkit-animation: blinkbar 1s linear infinite;
	animation: blinkbar 1s linear infinite;
}
.profile-detail-container {
	padding: 5px;
	width: 40%;
}

.jumbotron-container {
	background: url("../img/tech.jpg") 0 10px no-repeat;
	background-size: 100% 400px;
	min-height: 400px;
	margin: 30px 25px;
}
.jumbotron-background {
	min-height: 400px;
	background-color: rgba(19, 38, 58, 0.9);
}
.jumbotron {
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	font-stretch: expanded;
	padding: 5%;
	margin-top: -370px;
	opacity: 1;
	z-index: 10;
}
.jumbotron p{
	font-size: 17px;
	color: #fafafa;
}
.foreword {
	font-size: 30px;
}

.tools-container {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tools-known {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 10px;
	width: 80%;
	opacity: 0;
	-moz-transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
	transition: all 3s ease-out;
}
.fadeIn {
	opacity: 1;
}
.logo {
	width: 11%;
	height: 70px;
	padding: 5px;
	margin: 2px;
	box-shadow: 0px 0px 0px 1px #808080;
}
.projects > h2 {
	text-align: center;
}
.projects {
	width: 90%;
	margin: auto;
}
.project {
	width: 100%;
	height: 62vh;
	margin-bottom: 30px;
	box-shadow: 0px 1px 3px 1px #808080;
}
.project-one {
	background: url("../img/chessapp_shot.jpg") 0 -5px repeat;
	background-size: 50% 100%;
}
.project-two {
	background: url("../img/servead.jpg") 0 -5px repeat;
	background-size: 50% 100%;
}
.project-three {
	background: url("../img/event_shot.jpg") 0 -5px repeat;
	background-size: 50% 100%;
}
.project-four {
	background: url("../img/landing_shot.jpg") 0 -5px repeat;
	background-size: 50% 100%;
}
.project-description {
	box-sizing: border-box;
	width: 50%;
	padding: 4vh 3vh 0 3vh;
	margin-top: -62vh;
	opacity: 1;
	z-index: 1000;
	height: 100%;
	background-image: linear-gradient(300deg, rgba(12, 27, 39,0.5), rgba(12, 27, 39,1))
}
.project-description h2{
	color: orange;
	font-weight: bold;
	font-size: 4vh;
	line-height: 2rem;
}
.project-description p{
	color: white;
	font-weight: 700;
	margin-top: -2vh;
}
.project-pic {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(250deg, rgba(0,51,102,0), rgba(0, 51, 102, 0.2))
}
.project-two > .project-description {
	margin-left: 50%;
}
.project-four > .project-description {
	margin-left: 50%;
}
.project-two > .project-pic {
	background-image: linear-gradient(100deg, rgba(0,51,102,0), rgba(12, 27, 39,0.3))
}
.project-four > .project-pic {
	background-image: linear-gradient(100deg, rgba(0,51,102,0), rgba(12, 27, 39,0.3))
}
.link-button {
	background-color: transparent;
	padding: 5px;
	font-size: 19px;
	border: 2px #34d399 solid;
	border-radius: 6px;
	margin-top: -2vh;
}
.link-button > a {
	text-decoration: none;
	font-size: 15px;
}
.link-button:hover {
	color: #fff;
	background-color: #209268;
	background-color: var(--primary-text-color);
}
.link-button > a:hover {
	color: #fff;
}
.certificate-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}
.certificate {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
}
.certificate-box:before{
	content:"";
	position: absolute;
	width: 15px;
	height: 15px;
	margin-left: -32px;
	margin-top: -15px;
	border-radius: 50px;
	border: 3px solid #38bdf8;
	background-color: #fafafa;
	background-color: var(--bg-color);
}
.certificate-box {
	padding: 10px 20px;
	margin: 7px 0px;
	width: 44%;
	border-left: 5px #38bdf8 solid;
}
.education {
	min-height: 340px;
}
.link {
	text-decoration: none;
	font-weight: bold;
}
.link:hover {
	color: #089ddd;
	color: var(--secondary-text-color);
}

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 5px 10px;
	padding-top: 70px;
	border-radius: 10px;
	border-top: 1px groove #38bdf8;
	cursor: default;
}
.footer {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.footer > div > h3{
	padding-left: 45px;
	font-size: 20px;
}
.footer-list {
	list-style-type: none;
	-moz-transform: translateY(60px);
	-webkit-transform: translateY(60px);
	transform: translateY(60px);
	-moz-transition: transform 1s ease-out;
	-webkit-transition: transform 1s ease-out;
	transition: transform 1s ease-out;
}
.footer-list > li {
	font-size: 17px;
	font-weight: 500;
}
.footer-list > li > span > a{
	text-decoration: none;
}
.footer-list > li > span:hover{
	color : #209268;
	color: var(--primary-text-color);
}
.footer-list > li > span > a:hover{
	color : #209268;
	color: var(--primary-text-color);
}
.bring-list {
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border-radius: 4px;
}
.copyright > p {
	font-size: 17px;
	font-weight: 700;
}
.contact-header {
	opacity: 0;
	-moz-transform: translateY(-40px);
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.bring-footer-header {
	opacity: 1;
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.d-block{
	display: block;
}
.d-none{
	display: none;
	-moz-transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

@media screen and (max-width: 850px){
	body {
		width: 90%;
		margin: auto;
	}
	.header {
		width: 90%;
		margin: auto;
	}
	.mini-container {
		display: block;
		margin: 50px 5px;
	}
	.brand a {
		font-size: 23px;
		margin-left: 5px;
	}
	.image-container {
		background-size: 82% 270px;
		width: 82%;
		height: 270px;
		margin: auto;
		margin-top: 20px;
	}
	.profile-img {
		width: 100%;
		padding-left: 0px;
	}
	.profile-img-background {
		width: 82%;
		height: 265px;
	}
	.profile-detail-container {
		width: 94%;
	}
	.pic-title {
		-moz-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	.certificate {
		flex-direction: column;
	}
	.certificate-box {
		width: 90%;
	}
	.certificate-container {
		width: 100%;
	}
	.footer {
		display: block;
	}
	.navbar-menu {
		display: block;
	}
	.nav {
		max-height: 0px;
		overflow: hidden;
		-moz-transition: max-height 1s ease-out;
		-webkit-transition: max-height 1s ease-out;
		transition: max-height 1s ease-out;
	}
	.show-list {
		max-height: 400px;
	}
	.nav ul {
		display: block;
		right: 0;
	}
	.nav li {
		display: block;
	}
	.menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-bottom: 5px;
		border-bottom: 1px solid #ddd;
		border-radius: 2px;
	}
	.brand {
		width: 90%;
	}
	.nav {
		padding-right: 3px;
		margin-top: 0px;
	}
	.header {
		flex-direction: column;
		align-items: flex-start;
	}
	.nav-menu-icon{
		display: block;
		width: 30px;
		height: 3px;
		margin-left: 5px;
		box-shadow: 0px 5px 1px #19334d, 0px 15px 1px #19334d, 0px 25px 1px #19334d;
		box-shadow: 0px 5px 1px var(--main-text-color), 0px 15px 1px var(--main-text-color), 0px 25px 1px var(--main-text-color);

	}
	.navbar-menu {
		width: 50px;
		height: 40px;
		right: 25px;
		top: 15px;
		margin-top: 15px;
		margin-right: 15px;
		padding-left: 6px;
		padding-top: 6px;
	}
	.tools-known {
		width: 100%;
	}
	.logo {
		width: 10%;
		height: 50px;
	}
	.tools-container {
		width: 100%;
	}
	.education {
		min-height: 0px;
	}
	.image-container {
		border-right: none;
	}
	.footer {
		width: 98%;
	}
	.jumbotron-container {
		background-size: 100% 400px;
		height: 400px;
		margin: 0 2px 25px 2px;
	}
	.jumbotron-background {
		height: 100%;
	}
	.jumbotron {
		padding: 4%;
		margin-top: -395px;
		font-size: 17px;
	}
	.projects {
		width: 100%;
	}
	.project {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 80vh;
	}
	.project-description {
		margin-top: -80vh;
		height: 100%;
		width:70%;
		padding-top: 4vh;
	}
	.project-two > .project-description {
		margin-left: 30%;
	}
	.project-four > .project-description {
		margin-left: 30%;
	}
}
@media screen and (max-width: 500px){
	.header {
		position: static;
		width: 100%;
		margin: auto;
		box-shadow: none;
	}
	.brand {
		width: 100%;
	}
	.brand a {
		padding-left: 1px;
		font-size: 21px;
	}
	.nav-menu-icon {
		margin-left: 3px;
	}
	.mini-container {
		margin-top: 5px;
		margin-bottom: 40px;
	}
	.profile-container {
		padding-top: 5px;
		padding-left: 0px;
	}
	.image-container {
		background-size: 100% 310px;
	}
	.profile-img-background {
		width: 100%;
		height: 270px;
	}
	.profile-detail-container {
		width: 100%;
	}
	.pic-title {
		-moz-transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
		font-size: 17px;
	}
	.jumbotron-container {
		background-size: 100% 470px;
		height: 450px;
		margin: 0 2px 25px 2px;
	}
	.jumbotron-background {
		height: 100%;
	}
	.jumbotron {
		padding: 4%;
		margin-top: -457px;
		font-size: 15px;
	}
	.logo {
		width: 8%;
		height: 30px;
	}
	.project {
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.project-two > .project-description {
		margin-left: 0;
	}
	.project-four > .project-description {
		margin-left: 0;
	}
	.project-description {
		width: 100%;
	}
	.project-description h2{
		text-align: center;
		font-size: 5vh;
	}
	.pro-description {
		margin-top: 15px;
		margin-left: 10px;
	}
	.link-button {
		margin-top: 5px;
		margin-left: 25vw;
	}
	.footer-container {
		margin: 0px;
	}
	.footer {
		width: 100%;
	}
	.footer-list {
		margin-left: -25px;
	}
}