---
import ChessAppPro from "../carousels/ChessAppPro.astro"
---
<div class="flex flex-col sm:flex-row gap-4 min-h-[55vh] my-3">
    <ChessAppPro />
    <div class="w-full sm:w-[50vw] tracking-wider">
        <h2 class="text-lg font-semibold">
            ChessGame - <span class="text-semibold">Progressive Web App</span>
        </h2>
        <p class="text-xs my-2">
            The app allows user to choose their opponent Ai or a friend and to choose their prefernce color scheme for the board and difficulty level. It has all the functionalities of a chess. This fully functional web based chess application built using React, Tailwind CSS and integrated it with an AI chess engine Stockfish. The app is deployed on Render.
        </p>
        <a class="btn btn-link text-xs" href="https://react-chess-app-uixz.onrender.com/" target="_blank">Play chess</a>
    </div>
  </div>