---
import ClassicMenPro from "../carousels/ClassicMenPro.astro"
---
<div class="flex flex-col sm:flex-row gap-4 min-h-[55vh] my-3">
    <ClassicMenPro />
    <div class="w-full sm:w-[50vw] tracking-wider">
        <h2 class="text-lg font-semibold">Classic Men's Fashion Store</h2>
        <p class="text-xs my-2">
            I developed a comprehensive e-commerce website for Ideal Men's Fashion store using a modern tech stack including Next.js, TypeScript, Shadcn, Farmer Motion, Tailwind CSS, Zustand, Better-Auth, Prisma, and PostgreSQL. The site is deployed on Vercel, leveraging Vercel Blob Store ad Neon PostgreSQL DB provider. <br>
            <strong>Key Features:</strong> Product listing page, product detail page, pagination, cart management, admin functionality, and dark/light mode.
        </p>
        <a class="btn btn-link text-xs" href="https://mencollection.vercel.app/" target="_blank">Visit & Shop</a>
    </div>
</div>