---
import CoolMarketPro from "../carousels/CoolMarketPro.astro"
---
<div class="flex flex-col sm:flex-row gap-4 min-h-[55vh] my-3">
    <CoolMarketPro />
    <div class="w-full sm:w-[50vw] tracking-wider">
        <h2 class="text-lg font-semibold">
            Cool Market - <span class="text-xs">E-Commerce App</span>
        </h2>
        <p class="text-xs my-2">
            I developed a comprehensive e-commerce website store using a modern tech stack including Next.js, Tailwind CSS, and SWR in front-end and Laravel with Sanctum as a backend. With two communicate through a RESTful api.<br>
            <strong>Key Features:</strong> Product listing page, product detail page, pagination, cart management, and admin functionality.
        </p>
        <a class="btn btn-link text-xs" href="https://github.com/Andu-alem/laravel-next-ecommerce" target="_blank">Source Code</a>
    </div>
</div>