---
import EventUpdaterPro from "../carousels/EventUpdaterPro.astro"
---
<div class="flex flex-col sm:flex-row gap-4 min-h-[55vh] my-3">
    <EventUpdaterPro />
    <div class="w-full sm:w-[50vw] tracking-wider">
        <h2 class="text-lg font-semibold">
            Event Updater - <span class="text-xs">Event sharing platform</span>
        </h2>
        <p class="text-xs my-2">
            A web application in which the user can get and post the upcoming events in the town. Aims to be the platform for all events. This platform is built using the MERN stack - React, Material UI, Express.js, MongoDB with MongoDB Atlas as a provider and Mongoose as an ORM and deployed on Render.
        </p>
        <a class="btn btn-link text-xs" href="https://eventsupcoming.onrender.com/" target="_blank">Post your event</a>
    </div>
</div>