---
import PortfolioPro from "../carousels/PortfolioPro.astro"
---
<div class="flex flex-col sm:flex-row gap-4 min-h-[55vh] my-3">
    <PortfolioPro />
    <div class="w-full sm:w-[50vw] tracking-wider">
        <h2 class="text-lg font-semibold">Portfolio Site</h2>
        <p class="text-xs my-2">A portfolio site template to showcase my skills, works, and certificates. Built using Vue.Js, Vue-Router, and TailwindCSS. Deployed on Netlify</p>
        <a class="btn btn-link text-xs" href="https://andufereja-portfolio.netlify.app/" target="_blank">Visit</a>
    </div>
</div>