---
import QuantumBitPro from "../carousels/QuantumBitPro.astro"
---
<div class="flex flex-col sm:flex-row gap-4 min-h-[55vh] my-3">
    <QuantumBitPro />
    <div class="w-full sm:w-[50vw] tracking-wider">
      <h2 class="text-lg font-semibold">
        QuantumBit - <span class="text-xs">Technology Institute</span>
      </h2>
      <p class="text-xs my-2">
          I developed visually apealing, seo friendly landing page with a blog functionality for a Technology Institute using Astro, React, and TailwindCSS.<br>
          <strong>Key Features:</strong>SEO friendly Landing page with Courses, Pricing, FAQ, and  Testimonials, and with Blog functionality. Deployed on Cloudflare.
      </p>
      <a class="btn btn-link text-xs" href="https://quntum-bit.pages.dev/" target="_blank">Visit</a>
    </div>
</div>