---
import ServiceAdPro from "../carousels/SeviceAdPro.astro"
---
<div class="flex flex-col sm:flex-row gap-4 min-h-[55vh] my-3">
    <ServiceAdPro />
    <div class="w-full sm:w-[50vw] tracking-wider">
        <h2 class="text-lg font-semibold">
            ServiceAd - <span class="text-xs">Share your service, Find other's</span>
        </h2>
        <p class="text-xs my-2">
            A platform where users promote their services and businesses share location/address of their business. Beside promoting their service the platform aims to help users to find a service or business near them or by searching the name. Built using Next.js, Tailwind CSS, Next-Auth, MongoDB, and mongoose. The site deployed on Vercel and MongoDB Atlas for database hosting. <br>
            <strong>Key Features:</strong> Services and Businesses listing page, detail page, service creation and manage functionality, search, filter, and rate service functionality
        </p>
        <a class="btn btn-link text-xs" href="https://servicead.vercel.app" target="_blank">Ad Your Service</a>
    </div>
</div>