---
import { Image } from "astro:assets";
import screenShoot from "../../assets/laravel-next/products-list-pagination.png"
import screenShoot2 from "../../assets/laravel-next/products-detail.png"
import screenShoot3 from "../../assets/laravel-next/admin-page.png"
import screenShoot4 from "../../assets/laravel-next/cart-page.png"
import screenShoot5 from "../../assets/laravel-next/admin-create-product.png"
---
<div class="carousel w-full h-[55vh] rounded-xl">
    <div id="cool-slide1" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ screenShoot }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#cool-slide5" class="btn btn-circle">❮</a>
        <a href="#cool-slide2" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="cool-slide2" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={screenShoot2}
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#cool-slide1" class="btn btn-circle">❮</a>
        <a href="#cool-slide3" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="cool-slide3" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ screenShoot3 }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#cool-slide2" class="btn btn-circle">❮</a>
        <a href="#cool-slide4" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="cool-slide4" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ screenShoot4 }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#cool-slide3" class="btn btn-circle">❮</a>
        <a href="#cool-slide5" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="cool-slide5" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ screenShoot5 }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#cool-slide4" class="btn btn-circle">❮</a>
        <a href="#cool-slide1" class="btn btn-circle">❯</a>
      </div>
    </div>
</div>