---
import { Image } from "astro:assets"
import heroImg from "../../assets/quantum-bit/hero.png"
import featureImg from "../../assets/quantum-bit/feature.png"
import featureImg2 from "../../assets/quantum-bit/feature2.png"
import boostImg from "../../assets/quantum-bit/boost.png"
import pricingImg from "../../assets/quantum-bit/pricing.png"
import testimonialsImg from "../../assets/quantum-bit/testimonials.png"
import faqImg from "../../assets/quantum-bit/faq.png"
import blogImg from "../../assets/quantum-bit/blog.png"
import blogImg2 from "../../assets/quantum-bit/blog-page.png"
import articleImg from "../../assets/quantum-bit/article.png"
import footerImg from "../../assets/quantum-bit/footer.png"
---
<div class="carousel w-full h-[55vh] rounded-xl">
    <div id="quantum-slide1" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ heroImg }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide11" class="btn btn-circle">❮</a>
        <a href="#quantum-slide2" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide2" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ featureImg }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide1" class="btn btn-circle">❮</a>
        <a href="#quantum-slide3" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide3" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ featureImg2 }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide2" class="btn btn-circle">❮</a>
        <a href="#quantum-slide4" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide4" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ boostImg }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide3" class="btn btn-circle">❮</a>
        <a href="#quantum-slide5" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide5" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ pricingImg }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide4" class="btn btn-circle">❮</a>
        <a href="#quantum-slide6" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide6" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ testimonialsImg }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide5" class="btn btn-circle">❮</a>
        <a href="#quantum-slide7" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide7" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ faqImg }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide6" class="btn btn-circle">❮</a>
        <a href="#quantum-slide8" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide8" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ blogImg }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide7" class="btn btn-circle">❮</a>
        <a href="#quantum-slide9" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide9" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ blogImg2 }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide8" class="btn btn-circle">❮</a>
        <a href="#quantum-slide10" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide10" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ articleImg }
        class="w-full h-full" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#quantum-slide9" class="btn btn-circle">❮</a>
        <a href="#quantum-slide11" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="quantum-slide11" class="carousel-item relative w-full">
      <Image
        alt="project-screen-shoot"
        src={ footerImg }
        class="w-full h-full" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#quantum-slide10" class="btn btn-circle">❮</a>
            <a href="#quantum-slide1" class="btn btn-circle">❯</a>
        </div>
    </div>
</div>