---
import Layout from "../../layouts/Layout.astro";

---

<Layout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1 flex gap-2">рѕарѕІрѕЮ рѕарѕІрѕЮ <div id="wave" class="duration-150">­ЪЉІ</div></div>
    <div class="text-4xl font-bold">ріаріЋрІ▒ріарѕѕрѕЮ рЇѕрѕерїЃ ріљріЮ</div>
    <div class="text-2xl py-3 font-bold">Full-Stack Software Engineer</div>
    <div class="py-2">
      <text class="text-sm tracking-wider font-light">
        рЅаfullstack рІїрЅЦрѕ│рІГрЅх рїЇріЋрЅБрЅ│ рЅарЅѓ рѕЇрѕЮрІх рІФрѕѕріЮ ріЦріЊ рІеComputer Engineering рЅ░рѕўрѕФрЅѓ рѕхрѕєріЋ рІўрѕўріЊрІі рЅ┤ріГріќрѕјрїѓрІјрЅйріЋ рЅарѕўрїарЅђрѕЮ рІ░рѕерїЃрІЇріЋ рІерїарЅарЅђ рІїрЅЦрѕ│рІГрЅх ріЦріЊ ріарЇЋрѕЇрігрѕйріќрЅйріЋ рѕѕрІхрѕГрїЁрЅхрІјрЇБ рѕѕрЅбрІЮріљрѕхрІјрЇБ ріЦріЋрІ▓рѕЂрѕЮ рѕѕрїЇрѕІрІі ріарїѕрѕЇрїЇрѕјрЅХрЅй ріЦрїѕріљрЅБрѕѕрѕЂрЇб рЅарЅѓ ріЦрІЅрЅђрЅх рІФрѕѕрІЇ software Engineer рѕѕрѕўрЅђрїарѕГ ріГрЇѕрѕѕрїЅ рІѕрІГрѕЮ рѕѕрїЇрѕЇрІј рІѕрІГ рѕѕрЅбрІЮріљрѕхрІј рѕЏріЋріЏрІЅріЋрѕЮ рІЊрІГріљрЅх рІїрЅЦрѕ│рЅх рѕЏрѕарѕФрЅх ріГрЇѕрѕѕрїЅ рЅарЅ░рїѕрѕѕрї╣рЅх ріарѕЏрѕФрї«рЅй рІФрїЇріЎріЮ рЅарІ░рѕхрЅ│ ріЦрЅђрЅарѕЇрІјрЅ│рѕѕрѕЂрЇб
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/am/contact-me"> рІерѕўрїѕріЊріЏ ріарѕЏрѕФрї«рЅй!</a>
      <a href="/am/projects" class="btn btn-outline ml-5">
        рІерЅ░рѕ░рѕЕ рЇЋрѕ«рїђріГрЅХрЅй
      </a>
    </div>
  </div>
</Layout>

<script>
	import { animate } from "motion"
	animate('#wave',{
		rotate: [0,25],
	},{
		repeat: 1000
	})
</script>
