---
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1 flex gap-2">Hey there <div id="wave" class="duration-150">👋</div></div>
    <div class="text-4xl font-bold">I'm Andualem Fereja</div>
    <div class="text-2xl py-3 font-bold">Full-Stack Software Engineer</div>
    <div class="py-2">
      <text class="text-sm tracking-wider font-light">
        I'm a seasoned software developer with a background in Computer Engineering and expertise in full-stack web development. I specialize in building high-quality, modern web applications using cutting-edge tools and industry best practices. <br>
        From responsive landing pages to dynamic blogs, feature-rich e-commerce platforms, and professional portfolio websites, I bring both creativity and technical precision to every project. Whether you're looking for a well-rounded full-stack developer to join you team or need someone to turn you vision into reality, I'm here to help. <br>
        Feel free to connect with me through any of the provided cantact details-I'd love to collaborate and create something exceptional with you!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/contact-me"> Let's connect!</a>
      <a href="/projects" class="btn btn-outline ml-5">
        See My Projects
      </a>
    </div>
  </div>
</Layout>

<script>
	import { animate } from "motion"
	animate('#wave',{
		rotate: [0,25],
	},{
		repeat: 1000
	})
</script>
