---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";


const importedImages = import.meta.glob<{ default: ImageMetadata }>('../assets/png/*.png')
const images = Object.values(importedImages)

---

<Layout title = "Skilles">
  <div class="flex flex-col sm:flex-row justify-evenly md:px-10 my-7 min-h-[57vh]">
    <div class="sm:w-1/2 my-3 sm:my-1">
        <h4 class="text-center sm:text-left font-semibold">Technical Skills</h4>
        <div class="flex flex-wrap justify-center sm:justify-start gap-3 my-4">
          {
            images.map(image => (
              <Image class="size-7 md:size-10 rounded-lg" src={ image() } alt="image" />
            ))
          }
        </div>
    </div>
    <div class="my-3 sm:my-1 text-center sm:text-left text-xs tracking-wider">
        <h4 class="font-semibold text-sm mb-2">Soft Skills</h4>
        <p>Attentive to detail, problem Solving, and analytical</p>
        <p>Proactive, responsible, and dependable</p>
        <p>Adapatbile and flexible</p>
    </div>
</div>
</Layout>
