---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const { pathname } = Astro.url
const path = pathname.replace('/am','')
---
<!-- change popover-1 and --anchor-1 names. Use unique names for each dropdown -->
<button class="btn btn-ghost" popovertarget="popover-1" style="anchor-name:--anchor-1">
    { languages[lang] }
</button>
<ul class="dropdown menu w-24 rounded-box bg-base-100 shadow-sm"
    popover id="popover-1" style="position-anchor:--anchor-1">
    {
        Object.entries(languages).map(([lang, label]) => (
            <li>
                <a href={ translatePath(path, lang) }>{ label }</a>
            </li>
        ))
    }
</ul>