---
import { Image } from "astro:assets"
const { project: {
    image,
    title,
    subTitle,
    description,
    link,
    features,
    techStack
} } = Astro.props
---

<div class="sm:px-10 md:px-0 card lg:card-side bg-base-100 shadow-sm">
    <Image
        src={ image }
        alt="project-screen-shoot"
        class="w-full lg:w-5/12 rounded-lg" />
    <div class="card-body w-full lg:w-7/12">
        <h2 class="card-title font-semibold flex flex-wrap">
            <span>{ title }</span> - <span class="text-xs">{ subTitle }</span>
        </h2>
        <p class="text-xs tracking-wide">{ description }</p>
        <p class="text-xs tracking-wide">
            <strong>Key Features: </strong> { features }
        </p>
        <div class="flex gap-1 flex-wrap">
            { techStack.map((item: string) => (
                <span class="badge badge-neutral badge-xs">{ item }</span>
            ) ) }
        </div>
        <div class="card-actions justify-center lg:justify-end">
                <a class="btn btn-sm btn-primary text-xs" href={ link } target="_blank">Live Link</a>
        </div>
    </div>
</div>