---
import { Image } from "astro:assets"
const { project: {
    image,
    title,
    subTitle,
    description,
    link,
    features
} } = Astro.props
---

<div class="sm:px-10 md:px-0 card lg:card-side bg-base-100 shadow-sm">
    <Image
        src={ image }
        alt="project-screen-shoot"
        class="w-full lg:w-5/12 rounded-lg" />
    <div class="card-body w-full lg:w-7/12">
        <h2 class="card-title font-semibold">
            { title } - <span class="text-xs">{ subTitle }</span>
        </h2>
        <p class="my-2">{ description }</p>
        <p class="my-2">
            <strong>Key Features: </strong> { features }
        </p>
        <div class="card-actions justify-end">
                <a class="btn btn-primary text-xs" href={ link } target="_blank">Live Link</a>
        </div>
    </div>
</div>