---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { pathname } = Astro.url
const path = pathname.replace('/am','')
const className= "py-2 px-4 my-1rounded-lg"
---
<div class="menu menu-md bg-base-200 w-full">
    <li>
        <a href={ translatePath('/') } class:list={[className, { 'menu-active':  path === '/' }]}>
            { t('') }
        </a>
    </li>
    <li>
        <a href={ translatePath('/projects') } class:list={[className, { 'menu-active':  path.includes('projects') }]}>
            { t('projects') }
        </a>
    </li>
    <li>
        <a href={ translatePath('/skills') } class:list={[className, { 'menu-active':  path.includes('skills') }]}>
            { t('skills') }
        </a>
    </li>
    <li>
        <a href={ translatePath('/certificates') } class:list={[className, { 'menu-active':  path.includes('certificates') }]}>
            { t('certificates') }
        </a>
    </li>
    <li>
        <a href={ translatePath('/contact-me') } class:list={[className, { 'menu-active':  path.includes('contact-me') }]}>
            { t('contact-me') }
        </a>
    </li>
</div>